.offline-box {
  --HEIGHT: 30px;
  --WIDTH: 30px;

  /* height: var(--HEIGHT);
  width: var(--WIDTH); */
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 10px;
  left: 20px;
  will-change: box-shadow, width;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2;
  padding: 3px 5px;
  background-color: #bbb;
}

.test {
  margin-left: 10px;
  font-size: 13px;
  animation: slideIn 750ms;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    margin-bottom: -15%;
  }
  100% {
    opacity: 1;
    margin-bottom: 4%;
  }
}
